DATOMIC_VERSION=0.9.5561
DATOMIC_CREDENTIALS=<my-username>:<my-download-key>
DB_URI=datomic:dev://datomic:4334/<my-db-name>
AUTH0_DOMAIN=<my-auth0-domain>
AUTH0_ISSUER=https://<my-auth0-domain>/
AUTH0_CLIENT_ID=<my-auth0-client-id>
AUTH0_CLIENT_SECRET=<my-auth0-client-secret>
SERVER_PORT=9312
