{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["> 1%"]
      },
      "modules": false,
      "loose": true
    }]
  ],
  "plugins": [
    ["transform-class-properties", {"spec": false}]
  ]
}
